<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
{% block body %}{% endblock %}

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/socket.io-client/dist/socket.io.min.js"></script>
<script src="/static/bower_components/gyronorm/dist/gyronorm.complete.min.js"></script>
<script src="/static/scripts/main.js"></script>

</body>
</html>