{% extends "layout.html" %}

{% block title %}Room {{ room_id }}{% endblock %}

{% block body -%}
    <div id="bad_room" class="hidden">
        <h1>Whoops!</h1>
        <p>Looks like you've entered an invalid room. Try that one again?</p>
    </div>
    <div id="no_gyro" class="hidden">
        <h1>Aw snap!</h1>
        <p>Your device doesn't appear to have a working gyroscope. Sorry, you can't vote!</p>
    </div>
    <div id="calibration" class="hidden">
        <h1>Please Calibrate</h1>
        <p>Before you vote your device needs to be calibrated.
            Please place it on a flat surface and face it toward the front of the room, then click "Calibrate"</p>

        <button id="btn_calibrate">Calibrate</button>
    </div>
    <div id="how_to" class="hidden">
        <h1>Calibration complete!</h1>
        <p>To vote, pick a channel and point a direction.</p>
        <p>Azimuth: <span id="az"></span></p>
        <p>Elevation: <span id="el"></span></p>
        <button id="btn_start">Start</button>
    </div>
    <div id="vote" class="hidden">
        <button id="btn_recalibrate">Recalibrate</button>
        <div id="vote_buttons"></div>
    </div>
{%- endblock %}